/* Add here all your css styles (customizations) */
.header .logo, .header .logo img, .navbar-brand, .navbar-brand img{
    width: 200px;
}



/*--------------------------------------------------
    [2. Header - Navbar]
----------------------------------------------------*/
/*.header .navbar-nav > li > a {
    padding: 9px 25px 9px 10px;
}*/
.header{
    z-index: 21;
}
.header .navbar-nav > li.actual > a{
  border-bottom-color: #4765a0;
}

.header .topbar {
    padding: 0;
}
.header .topbar ul.loginbar {
    padding: 1px 10px;
    background-color: #261f62;
}
.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover{
    color: #cccccc;
}

    /*--------------------------------------------------
        [Slider]
    ----------------------------------------------------*/


.tp-caption.revolution-ch3.red-soluciones{
    background: rgba(0,0,0,0.4) ;
    width: 100%;
    padding-top:10px;
}
.tp-banner .btn-u.btn-brd.btn-u-light{
    background: #fff;
    color: #555!important;
}
/*--------------------------------------------------
    [Footer]
----------------------------------------------------*/
.footer-v1 .footer {
    background: #585f69 none repeat scroll 0 0;
}
.footer .headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #261f62;
}
.footer-logo {
    width: 160px;
}
.footer-v1 .copyright a,.footer-v1 .copyright a:hover {
	color: #4765a0;
}
.footer a.email, .footer a.email:hover{
    color: #FFF;
}

/*--------------------------------------------------
    [Pages]
----------------------------------------------------*/
/* Inicio --------------------------------------- */
.inicio.content-md{
	padding-top:20px;
} 
.tp-caption{
	white-space: normal;
}

.inicio .content-boxes-v6 i {
  background: #261f62;
  border: 1px solid #261f62;
}

.inicio .content-boxes-v6 i:after {
  border: 1px solid #4765a0;
}
.inicio .content-boxes-v6:hover i:after {
  border-color: #dedede;
}
.inicio .content-boxes-v6:hover i {
  background:  #fff; /*dedede*/
  border-color: #dedede;
}

.inicio .content-boxes-v6:hover i.color-blue {
  color: #3498db;
}
.inicio .content-boxes-v6:hover i.color-orange {
    color: #e67e22;
}
.inicio .content-boxes-v6:hover i.color-sea {
    color: #1abc9c;
}

a.camacoes, a.camacoes:hover{
    color:#AB0303;
    font-weight:bold;
}

/* Nosotros --------------------------------------- */
.breadcrumbs-v3.img-v3 {
  background: url(../img/breadcrumbs/velas-56.jpg) no-repeat;
}

.parallax-bg:before {
  background: rgba(255,255,255,0.76); 
}

.nuestro-grupo .service-inner{
	text-align:center;
}

.nuestro-grupo img{
	display:inline;
	padding-bottom:20px;
}

/* Servicios ------------------------------------------- */
.content-boxes-v6.outsourcing{
	padding-right:80px;
}
.content-boxes-v6.rpo{
	padding-left:80px;
}
	
.content-boxes-v6 a.rounded-x {
  width: 230px;
  height: 230px;
  padding-top: 107px;
  position: relative;
  text-align: center;
  display: inline-block;
  border-radius: 50% !important;
  background: rgba(255,255,255,0.2);
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  font-weight: 300;
  color: #fff;
}

.content-boxes-v6 a.rounded-x:after {
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  content: " ";
  border-radius: 50%;
  position: absolute;
  border: 1px solid #fff;
}

.content-boxes-v6 a.rounded-x:hover,
.content-boxes-v6 a.rounded-x:hover:after {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.content-boxes-v6 a.rounded-x:hover {
  background: rgba(40, 33, 98, 0.7);
  color: #FFF;
}

.content-boxes-v6 a.rounded-x:hover:after {
  border-color: rgba(40, 33, 98,0.7);
  color: #FFF;
}

.process-v1 .process-in > li i {
	border:none;
	padding-top:4px;
	color: #FFF;
}
#outsourcing .content-lg, #RPO .content-lg{
	padding-bottom: 0px;
	padding-top: 50px;
}

#outsourcing .content-sm, #RPO .content-sm{
	padding-top: 30px;
}
#outsourcing .content-sm.agregados{
	padding-bottom: 0px;
}
#outsourcing .title-v1 {
	margin-bottom: 35px;
}

#RPO .title-v1 {
	margin-bottom: 20px;
}

#payroll .content-sm.beneficios .col-md-4{
    padding-top:10%;
}

#payroll .content-lg{
    padding-top:0;
    padding-bottom:0;
}
#payroll .content-lg .title-v1{
    margin-bottom:0;
}
#payroll .content-sm.beneficios{
    padding-bottom:0;
}
#payroll .content-sm.software{
    padding-top:20px;
}

/* Blog ------------------------------------------- */
.breadcrumbs-v1.blog {
  background: url(../img/breadcrumbs/blog.jpg) center no-repeat;
}

.tags-v2 li a.selected{
    color: #fff;
    background: #555;
    border-color: #555;
}
.tags-v2 li a.selected:hover {
    color: #555;
    border: solid 1px #bbb;
    background:transparent;
}



/*--------------------------------------------------
    [TESTS]
----------------------------------------------------*/
/* index2 */
.content-sm.index2{
    padding-top: 20px;
}
.content-boxes-v6:hover i {
    background: #261f62 none repeat scroll 0 0;
}


