

/* VACANTES / VACANTE CREAR / EDITAR -------------------------------------------------------------------------------- */
a.crear-vacante{
    margin-left: 1em;
}
label .required, p .required {
    color: #FF5656;
}
.has-error .chosen-choices{
    border-color: #a94442;
}
.has-error .chosen-container-single .chosen-single{
    border-color: #a94442;
}
.row.margin-bottom{
    margin-bottom: 15px;
}
.portal-logo{
    font-size: 1.2em;
    color: #0072B7;
    margin-right: .9em;
}
.icon-computrabajo.portal-logo{
    font-size: 1.1em;
    margin-right: .5em;
}
#table-vacantes .portal{
    text-align:center;
}

/* CARGAR LOTE ---------------------------------------------------------- */
@media (min-width: 1200px) {
    .col-lg-12.btn-float{
        float:none;
    }
    .col-lg-12.btn-float .page-header{
        padding-bottom: 20px;
    }
}

/** EDITAR ASPIRANTE ------------------------------------------- */
.content-wrapper.wrapped{
    margin-left:0px;
    background-color: #fff;
}

/** EDITAR HOJA DE VIDA -------------------------------------------- */
.chosen-container-single .chosen-single{
    height:34px;
    padding: 4px 0 0 8px;
    border-radius: inherit;
}