@media (min-width: 768px) {
    .messaging-newroom--realtime .messaging--controls-container {
        max-width: 100%;
        position:relative;
    }

    .messaging-newroom--realtime .messaging--controls-container .message-controls__container.with-menu {
        width: 100%;
    }
    .message-controls__action-primary{
        float: right;
    }
    .messaging-newroom .message-controls__attach-btn {
        margin-right: 20px;
    }
    .messaging-newroom .message-controls__files-container {
        margin-bottom: 5px;
    }

}

.messaging-newroom--realtime .btn-view-more--old-messages{
    opacity:1;
}

.btn.wysihtml5-command-active{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
#editor{
    width: 100%;
    height: 100px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}
input[type=file].input-attach{
    display: none;
}
.files-container .progress{
    margin-bottom: 0;
}



.message__text ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 30px;
}
.message__text ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 30px;
}


