.table>tbody>tr.progreso>td{
    padding:0;
}
.table>tbody>tr.progreso>td>.progress {
    margin-top: 0px;
}
.tabla .btn-success, .tabla .btn-danger{
    opacity: .65;
}
#autoliquidaciones-clientes .tabla button.btn{
    margin-right:5px;
}
#autoliquidaciones-clientes .box{
    margin-bottom: 0;
}

#autoliquidaciones-clientes span.btn{
    cursor: default;
}